/****************************************************
  * Custom CSS for this website 
  *****************************************************/
  @import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800');




  * {
    margin: 0;
    /* padding: 0; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
  }
  
  body {
    background-color: rgb(238, 238, 241);
  }
  /* HELPERS */
  
  .inline-list:before,
  .inline-list:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .inline-list li{
    float: left;
    list-style: none;
  }
  
  .header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dce4e9;
    padding: 0 20px;
    margin-bottom:60px;
    border-bottom: 2px solid rgba(0,0,0,0.05)
  }

  .header .navigation li {
    margin: 24px;
  }
  
  .header .navigation li:last-child {
    margin-right: 0;
  }
  
  .header .navigation li a {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #5A5A5A;
  }
  .header .navigation li a:hover {
    text-decoration: underline;  
  }
  
  .header .left-navigation li {
    margin-right: 10px;
    color: #5A5A5A;
  }
  
  
  .header .left-navigation li input {
    border: 0 none;
    box-shadow: none;
    border-bottom: 1px solid #333;
    height: 20px;
    color: #333;
    outline: none;
    font-size: 15px;
    width: 190px;
  }
  
  /* BODY */
  
  .main-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    height: calc(100% - 70px);
    width:1280px;
  /*   overflow: hidden;
    background: white; */
    position: relative;
    
  }
  
  
  
  .content {
   
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
    min-height:500px;
    width:1280px;
  }
  
  .content .search-container {
    height: 40px;
    align-items: center;
    display: flex;
    margin: 20px 80px;
    width:1280px;
  }
  
  
  
  .content .product-list li {
    margin: 0 20px 20px 0;
    width: calc(25% - 20px);
  }
  
  .content .product-list li:last-child {
    margin: 0;
  }
  
  .content .product-list li img {
    height: 240px;
    width: 100%;
    object-fit: cover;
  }
  
  .content .product-list li h2 {
    color: #666;
    font-size: 16px;
    font-weight: 300;
    line-height: 2em;
  }
  
  .content .product-list li p {
    font-weight: 500;
  }
  
  .content .show-more {
    display: block;
    height: 50px;
    background: #333;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    transition: all .4s ease;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 46px;
    text-align: center;
  }
  
  .content .show-more:hover {
    /* background: #fff; */
    border-color: #333;
    color: #333;
  }
  
  .footer {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .footer .social a {
    color: #000;
    text-decoration: none;
    margin-right: 5px;
  }
  input {
    outline: none;
    
  }
  input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none; 
  }
  
  
  input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 85px;
    
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }
  input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;
    
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
  }
  
  
  input:-moz-placeholder {
    color: #999;
  }
    input::-webkit-input-placeholder {
      color: #999;
    }
  
  
  .bookContainer{
    margin-top:30px;
  }
  
  
  
  /*    li a :hover {
          color: #0A202B;  
        } */
   
  .books >  ul {
      width: 1400px;
    }
  .books {
    /* background: #efefef; */
    padding: 2em;
    overflow-x: scroll; 
  }
  .books img {
       
        /* margin-bottom: -5px; */
        position: relative;
    float: left;
    width:  200px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
      }
  .books ul li {
  
      display: inline-block;
      position: relative;
      margin: 1em;
  /*     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  
    
    }
   .overlay {
        width: 250px;
        position: absolute;
        background: rgba(255,255,255,0.8);
        border-top: 10px solid #F09F47;
        bottom: 0;
        width: calc(100% - 2em);
        padding: 2em 1em;
        left: 0;
        opacity: 0;
        transition: opacity 0.4s ease-in 0.4s;
  
      }
     .overlay   h4 {
          font-size: 1.3em;
          margin-bottom: 0.5em;
       transition: transform 0.4s ease-in-out 0s;
        }
      .overlay  p {
          transition: transform 0.4s ease-in-out 0s;
        }
  
   .books ul li:hover .overlay{
         
          opacity: 1;
          transition: opacity 0.2s ease-in 0s;    
      }
   .books ul li:hover h4 {
            transform: translate(0px, -5px);
            transition: transform 0.3s ease-in-out 0.2s; 
          }
  .books ul li:hover   p {
            transform: translate(0px, 5px);
            transition: transform 0.3s ease-in-out 0.2s; 
          }

/****************************************************
  * Custom CSS for trade
  *****************************************************/
          #tradeList{
            margin:20px 20px;
            min-height: 400px
          }
          .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
          background-color:rgb(243, 185, 124) !important;
          font:2em;
          font-weight: bold;
          color:black;
          }          
  
          #bookImage button {
            display: none; /* Hide button */
            position: absolute;
           
          }
          
          #bookImage:hover button {
             display: block; /* On :hover of div show button */
          }
 .nav-stacked li span{
  text-indent: 0;
  margin: 0 2px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
  line-height: 30px;
  background: #21B7B7;
  color: #FFF;
  transition: all 0.25s ease;
 }         
/****************************************************
  * Custom CSS for login and signup page 
  *****************************************************/
  
  .login-box{
    position:relative;
    margin: 50px auto;
    width: 500px;
    height: 380px;
    background-color: #F9F2D7;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  }
  .lb-header{
    position:relative;
    color: #00415d;
    margin: 5px 5px 10px 5px;
    padding-bottom:10px;
    border-bottom: 1px solid #eee;
    text-align:center;
    height:28px;
  }
  .lb-header a{
    margin: 0 25px;
    padding: 0 20px;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  .lb-header .active{
    color: #029f5b;
    font-size: 18px;
  }
  .social-login{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    padding: 10px 0 15px 0;
    border-bottom: 1px solid #eee;
  }
  .social-login a{
    position:relative;
    float: left;
    width:calc(40% - 8px);
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 12px;
    border-radius: 2px;
    font-size: 22px;
    text-transform: uppercase;
    margin: 0 3%;
    text-align:center;
  }
  .social-login a i{
    position: relative;
    float: left;
    width: 20px;
    top: 2px;
  }
  .social-login a:first-child{
    background-color: #49639F;
  }
  .social-login a:last-child{
    background-color: #DF4A32;
  }
  .email-login,.email-signup{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    margin-top: 20px;
    text-align:center;
  }
  .u-form-group{
    width:100%;
    margin-bottom: 10px;
  }
  .u-form-group input[type="text"],
  .u-form-group input[type="password"]{
    width: calc(50% - 22px);
    height:45px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size:1rem;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    transition:all 0.1s linear;
  }
  .u-form-group input:focus{
    border-color: #358efb;
  }
  .u-form-group button{
    width:50%;
    background-color: #1CB94E;
    border: none;
    outline: none;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    padding: 14px 0;
    border-radius: 2px;
    text-transform: uppercase;
  }
  .forgot-password{
    width:50%;
    text-align: left;
    text-decoration: underline;
    color: #888;
    font-size: 0.75rem;
  }
  .form-group{
    position:relative;
    margin: 10px auto;
    width: 500px;
    
  }
  #newpoll {
    margin-bottom: 30px;
  }
 .toast-top-right{
   top:70px;
 }
 .toast-success{
   background-color: #1CB94E;
 }

 .poll-details{

  background-color:#ECEAE0;
  margin-top:100px;
  height: 500px;
 }

 .axis path, .axis line {
  fill: none;
  stroke: #fff;
}
.axis text {
  font-size: 13px;
}
.bar {
  fill: #8CD3DD;
}
.bar:hover {
  fill: #F56C4E;
}
svg text.label {
fill:white;
font: 15px;  
font-weight: 400;
text-anchor: middle;
}
#chart{
min-width:250px;
}
#details{
  margin-top:100px;
}
#allpoll{
  margin-top:20px;
}
#errormsg{
  color:rgb(165, 73, 73);
  font-size:9px;
  text-align: left;
}

/* a:hover {
  color: #fff !important;
} */

p > a {
  color:white;
  font-weight: bold;
}
.navbar-inverse .navbar-nav>li>a:hover
{
  color: white;
  font-weight: bold;
}
.navbar-inverse .navbar-brand:hover
{
  color: white;
  font-weight: bold;
}
.navbar-inverse .navbar-brand:visited
{
  color: white;
  font-weight: bold;
}



.btn-add-cart {
	position: absolute;
	right: 0px;
	top: 0px;
}
footer {
  
  bottom: 0;
  left: 0;
  padding: 20px 0;
  position: fixed;
  right: 0;
  text-align: center;
}

/****************************************************
  * Custom CSS for dropdown menu
  *****************************************************/

  .navbar
{
  height: 50px;
  
  background: #dce4e9;
  padding: 0 20px;
  border-bottom: 2px solid rgba(0,0,0,0.05);
  
}
.navbar-nav li a{
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #5A5A5A;
}
.navbar-brand{
   margin-top:-20px;
  height:100%;
}
.navbar-right{
 
  margin-top:15px !important;
}
.navbar .navbar-brand img {
  height: 52px;
}


.dropdown-container {
  margin-left: auto;
  display: flex;
  margin-right: 20px;
  
}


.has-child {
  position: relative;
  left: 0;
   
}

 
.books >  ul {
    width: 1400px;
  }
.books {
  background: #efefef;
  padding: 2em;
  overflow-x: scroll; 
}
.books img {
      width: 250px;
     
      margin-bottom: -5px;
    }
.books ul li {

    display: inline-block;
    position: relative;
    margin: 1em;
/*     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */

  
  }
 .overlay {
      width: 250px;
      position: absolute;
      background: rgba(255,255,255,0.8);
      border-top: 10px solid #F09F47;
      bottom: 0;
      width: calc(100% - 2em);
      padding: 2em 1em;
      left: 0;
      opacity: 0;
      transition: opacity 0.4s ease-in 0.4s;

    }
   .overlay   h4 {
        font-size: 1.3em;
        margin-bottom: 0.5em;
     transition: transform 0.4s ease-in-out 0s;
      }
    .overlay  p {
        transition: transform 0.4s ease-in-out 0s;
      }

 .books ul li:hover .overlay{
       
        opacity: 1;
        transition: opacity 0.2s ease-in 0s;    
    }
 .books ul li:hover h4 {
          transform: translate(0px, -5px);
          transition: transform 0.3s ease-in-out 0.2s; 
        }
.books ul li:hover   p {
          transform: translate(0px, 5px);
          transition: transform 0.3s ease-in-out 0.2s; 
        }
.btn-add-cart {
	position: absolute;
	right: 0px;
	top: 0px;
}

#tradeList{
  margin:20px 20px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
background-color:#F09F47;

}



.dropdown-container{
      display: inline-block;
      
      position: relative;
}
.dropdownIcon{
  position: relative;
  cursor: pointer;
  z-index: 2;
}
 .triangle{
            position: absolute;
            top: -10px;
            left: 250px;
            height: 15px;
            width: 15px;
            border-radius: 6px 0px 0px 0px;
            transform: rotate(45deg);
            background: #FFF;
            z-index: 1;
    border: 0px;
  border-style: solid;
          }
 .triangle1{
            position: absolute;
            top: -3px;
            left: 250px;
            height: 15px;
            width: 15px;
            border-radius: 6px 0px 0px 0px;
            transform: rotate(45deg);
            background: #FFF;
            z-index: 1;
    border: 0px;
  border-style: solid;
          }

 .dropdown-menu{
        position: absolute;
        display: none;
        z-index: 1;
         left: -110px;
        top: 25px !important;
        min-height: 10px;
        min-width: 10px;
   width: 280px;
border-radius: 10px 10px 0 0;
        
  box-shadow: 0px 2px 10px -2px #ecf0f3;
}

.dropdown-header{
          background: #FFF;
          padding: 15px;
          position: relative;
          text-align: center;
          color:#747F8B;
          font-weight: bold;
          font-size:22px;
          border-radius: 10px 10px 0 0;
        
  box-shadow: 0px 2px 10px -2px #ecf0f3;
}
.dropdown-header  .count{
            position: static;
            height: 25px;
            width: 25px;
            display: inline-block;
            line-height: 24px;
            margin-left: 8px;
            font-size: 12px;
            vertical-align: middle;
          }
       .dropdown-body{
          max-height: 292px;
          /* background: #ebf1f4; */
          overflow-y: auto;
          overflow-x: hidden;
 
         }
.setting-text li a{
              padding-left: 15px;
              vertical-align: middle;
              color:  #747F8B;
              cursor: pointer;
              font-size: 4px;
              word-spacing: 2px;
              line-height: 21px;
              padding-left:20px;
}
      .dropdown-body  .notification{
            background:  #FFF;
            padding: 15px;
           
  
}
         .notification-text{
              display: table-cell;
              padding-left: 15px;
              vertical-align: middle;
              color:  #747F8B;
              cursor: pointer;
              font-size: 14px;
              word-spacing: 2px;
              line-height: 21px;
 
            }
            .highlight{
              font-weight: bold;
            }          
     .fa{
        color: #9FB6C3;
        font-size: 22px;
      }
.fa-chevron-down{
    font-size: 15px;
}
.settingIcon {
  color:  #747F8B;
  font-size: 15px;
  
}
      .count{
        position: absolute;
        top: -6px;
        right: -1px;
        height: 15px;
        width: 15px;
        overflow: hidden;
        background: #21B7B7;
        color: #FFF;
        text-align: center;
        border-radius: 100%;
        font-size: 9px;
        font-weight: bold;
        line-height: 15px;
      }

ul {
  list-style:none;
}
  /****************************************************
  * Custom CSS for dropdown menu
  *****************************************************/
   
  .books >  ul {
      width: 1400px;
    }
  .books {
    background: #efefef;
    padding: 2em;
    overflow-x: scroll; 
  }
  .books img {
        width: 250px;
       
        margin-bottom: -5px;
      }
  .books ul li {
  
      display: inline-block;
      position: relative;
      margin: 1em;
  /*     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  
    
    }
   .overlay {
        width: 250px;
        position: absolute;
        background: rgba(255,255,255,0.8);
        border-top: 10px solid #F09F47;
        bottom: 0;
        width: calc(100% - 2em);
        padding: 2em 1em;
        left: 0;
        opacity: 0;
        transition: opacity 0.4s ease-in 0.4s;
  
      }
     .overlay   h4 {
          font-size: 1.3em;
          margin-bottom: 0.5em;
       transition: transform 0.4s ease-in-out 0s;
        }
      .overlay  p {
          transition: transform 0.4s ease-in-out 0s;
        }
  
   .books ul li:hover .overlay{
         
          opacity: 1;
          transition: opacity 0.2s ease-in 0s;    
      }
   .books ul li:hover h4 {
            transform: translate(0px, -5px);
            transition: transform 0.3s ease-in-out 0.2s; 
          }
  .books ul li:hover   p {
            transform: translate(0px, 5px);
            transition: transform 0.3s ease-in-out 0.2s; 
          }
  .btn-add-cart {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  
  #tradeList{
    margin:20px 20px;
  }
  .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
  background-color:#F09F47;
  
  }
  
  
  .navbar
{
  height: 50px;
  
  background: #dce4e9;
  padding: 0 20px;
  border-bottom: 2px solid rgba(0,0,0,0.05);
  
}
.navbar-nav li a{
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #5A5A5A;
}
.navbar-brand{
   margin-top:-20px;
  height:100%;
}
.navbar-right{
 
  margin-top:15px;
}
.navbar .navbar-brand img {
  height: 52px;
}


.dropdown-container {
  margin-left: auto;
  display: flex;
  margin-right: 20px;
  
}


.has-child {
  position: relative;
  left: 0;
   
}

 
.books >  ul {
    width: 1400px;
  }
.books {
  background: #efefef;
  padding: 2em;
  overflow-x: scroll; 
}
.books img {
      width: 250px;
     
      margin-bottom: -5px;
    }
.books ul li {

    display: inline-block;
    position: relative;
    margin: 1em;
/*     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */

  
  }
 .overlay {
      width: 250px;
      position: absolute;
      background: rgba(255,255,255,0.8);
      border-top: 10px solid #F09F47;
      bottom: 0;
      width: calc(100% - 2em);
      padding: 2em 1em;
      left: 0;
      opacity: 0;
      transition: opacity 0.4s ease-in 0.4s;

    }
   .overlay   h4 {
        font-size: 1.3em;
        margin-bottom: 0.5em;
     transition: transform 0.4s ease-in-out 0s;
      }
    .overlay  p {
        transition: transform 0.4s ease-in-out 0s;
      }

 .books ul li:hover .overlay{
       
        opacity: 1;
        transition: opacity 0.2s ease-in 0s;    
    }
 .books ul li:hover h4 {
          transform: translate(0px, -5px);
          transition: transform 0.3s ease-in-out 0.2s; 
        }
.books ul li:hover   p {
          transform: translate(0px, 5px);
          transition: transform 0.3s ease-in-out 0.2s; 
        }
.btn-add-cart {
	position: absolute;
	right: 0px;
	top: 0px;
}

#tradeList{
  margin:20px 20px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
background-color:#F09F47;

}

